get.helm.sh returns invalid etag header

Hi there. I suspect this is the wrong place to report this bug. Hopefully you can point me the right direction.

I am trying to automate updating helm versions, and hoped to use curl with etag support to skip downloading from `get.helm.sh` if the file hasn't changed. It looks like `get.helm.sh` returns an etag header without surrounding double-quotes, i.e. `etag: 0x8D8117F40DD72AC`, which is invalid according to [the spec - RFC 7232, section 2.3](https://tools.ietf.org/html/rfc7232#section-2.3). This causes curl to fail (somewhat ungracefully, which they are working on).

You can see my curl issue for more details: https://github.com/curl/curl/issues/5610

Hi @bhartshorn. get.helm.sh is backed by Azure CDN and is separate from the helm-www project.

Do you have suggestions how we can fix this, given this is a service provided by Azure CDN?

for reference: https://docs.microsoft.com/en-us/azure/cdn/cdn-verizon-premium-rules-engine-reference-features

@bacongobbler I figured it was separate. This stuff is definitely not in my wheelhouse, but it looks like an etag value can be set for specific files served by the CDN? https://docs.microsoft.com/en-us/azure/cdn/cdn-manage-expiration-of-cloud-service-content#setting-cache-control-headers-programmatically

Perhaps this value is set somewhere during the release process, but is missing the quotes? 

My other thought is that possibly the CDN passes the value from the server it is caching for. I've never set up/administered a CDN setup, so I'm not sure.

I'm happy to report to the right issue tracker if you know a better place? (It seems like possibly a CD issue?)

Thanks for the quick response!

> Perhaps this value is set somewhere during the release process, but is missing the quotes?

Here's where we upload the release assets to get.helm.sh: https://github.com/helm/helm/blob/395d494cd493698141f3e834957b6923a331a769/.circleci/deploy.sh#L49

Reference to the optional parameters for `az storage blob upload-batch`, including some which appear to modify etag headers: https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload-batch-optional-parameters

> I'm happy to report to the right issue tracker if you know a better place?

I don't have a good idea where would be the right issue tracker to follow up with Azure on this one. Perhaps on the [Azure feedback forums](https://feedback.azure.com/) or in the [azure-cli issue queue](https://github.com/Azure/azure-cli) if you manage to identify an issue with the default `upload-batch` operations.